.light-rays-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: screen;
}

.light-rays-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
